@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@600;700&display=swap');


body * {
    font-family: 'Montserrat', sans-serif;
}

body
{
    background-color: #f6f8fa;
    margin:0 auto;
}

.container{
    max-width: 1200px !important;
}

.container_body {
    margin-top: 70px;
    font-size: 19px;
    line-height: 32px;
}

h2
{
    color:rgb(15, 59, 98);
}

h1, h2, h3, h4, h5 {
    font-family: 'Poppins', sans-serif;
}

/*--------------
CABEZERA
-----------------*/


#logo_principal {
    height: 60px;
    transition: 0.2s;
}

#btn_menu {
    padding: 9px 12px;
    transition: 0.2s;
}

header {
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: white;
    z-index: 1;
    transition: 0.2s;
}

#contenedor_header {
    max-width: 1200px;
    margin: auto;
    padding: 5px 0px;
}


.contenedor_img {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.contenedor_img img, .contenedor_img_100 img {
    object-fit: cover;
    margin: auto;
    min-height: 100%;
    width: 100%;
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
}

.contenedor_img_100 {
    height: 500px;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.texto_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 5px #0f3b62;
}

.text-18 {
    font-size: 18px !important;
}

.texto_img .text-14 {
    font-size: 14px;
}

.texto_img h1 {
    font-size: 36px;
}

#fondo_actividad_01 {
    background-image: url("../img/fondo_moblity.webp");
}

@media screen and (max-width: 480px) {
    #logo_principal {
        height: 50px;
        margin-top: 5px;
        padding: 0px;
    }

    .contenedor_img {
        height: 230px;
    }

    .container_body {
        margin-top: 80px;
    }
}

@media screen and (max-width: 390px) {
    #logo_principal {
        height: 40px;
        margin-top: 10px;
        padding: 0px;
    }

    .contenedor_img {
        height: 100px;
    }
}

.btn-mobility {
    background-color: #0089a6 !important;
    color: white !important;
}

.btn-mobility2 {
    background-color: rgba(15, 59, 98, 0.3) !important;
    color: white !important;
    border: 3px solid white !important;
    font-weight: bold !important;
    box-shadow: 2px 2px 5px #0f3b62;
}

.bg-mobility {
    background-color: #0f3b62;
}

.carousel {
    height: 130px;
    overflow: hidden;
}

.carousel-item {
    width: 70%;
}

#organiza img {
    width: 80%;
}


/*-----------
PIE / FOOTER
-----------*/


#prefooter {
    width: 100%;
}

#prefooter * {
    width: 100%;
}

path{
    width: 100%;
}

.footer-menu-map {
    background-color: #0f3b62;
    color: white;
}

.footer-menu-legal {
    background-color: #e6e9ea;
}

.footer-menu-legal a {
    color: #3d4245;
    text-decoration: none;
}

.footer-menu-legal a:hover {
    color: #0089A6;
}

.footer-menu-legal li {
    margin-right: 30px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}